.list{
    position: fixed;
}
.content{
    margin-top: 95px;
}
.navOL{
    position: fixed;
}
.charge{
    display: block;
    height: 50px;
    background-color: white;
    border: 1px solid #EAEAEA;
    text-align: center;
    line-height: 50px;
    color: #382526;
    font-size: 20px;
    font-weight: bolder;
    width: 250px;
    text-decoration: none;
}
a:hover{
    background-color: #EAEAEA;
    text-decoration:none;
}
.display{
   /* height: 528px;*/
    overflow: auto;
    background-color: rgba(234,234,234,0.2);
}
.maxtitle{
    color: #382526;
    font-family: "Microsoft YaHei", "微软雅黑";
}
.minititle{
    background-color:#EAEAEA;
}
.sptitle{
    color: #382526 ;
}
.note{
    color: #d93432;
}
