.navbar-brand img{
    margin-top: 0;
}
.navbar-inverse{
    background-color: #ffffff;
    min-height: 80px;
    padding-top: 10px;
    border-bottom: 1px solid #EAEAEA;
}
.navbar-inverse .navbar-brand{
    color: #000000;
}
.navbar-inverse .navbar-brand :hover{
    color: #000000;
}
.carousel-inner{
    height: 530px;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > .open ul > a {
    color: #000000;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #ac2925;
}
.navbar-collapse {
    padding-top: 10px;
}
.bg{
    height: auto;
    width: 100%;
}

.left-right{
    line-height: 582px;
    font-size: 80px;
}
.carousel-caption{
    padding-bottom:180px;
    color:rgb(146,146,146);
}
.index-block{
    padding-top:6%;
}
/*footer*/
.indexFooter {
    width: 100%;
    height: 60px;
    /*position: fixed;*/
    bottom:0px;
    background: #000000;
    color: #777;
    font-size: 12px;
}
/*about*/
.about{
    overflow: auto;
    width: 100%;
    background-color: #EAEAEA;
}
.image{
    margin-top: 20px;
}
.text-muted {
    color: #888;
}
p{
    margin-top: 30px;
}
/*business*/
.business{
    overflow: auto;
    width: 100%;
    background-color: #EAEAEA;
}
/*contact*/
.contact{
    overflow: auto;
    width: 100%;
    background-color: #EAEAEA;
}
.name{
    height: 200px;
    width: 200px;
    margin-top: 30px;
}
.highlight{  margin-top: 40px;  }
.h-caption { text-align: center; }
.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
.h-body { }

.fs-us{
    padding: 10px;
    padding-left: 35px;
    border: 1px solid silver;
    height:385px;
    width: 100%;
}
.follow-me-icons a>i{
    color:#382526;
    font-size: 54px;
    font-weight: bold;
    margin-left: 10px;
}
